@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --background: #feffff;
  --foreground: #080c16;
    --accent: #0369A1;

}

.dark{

  --background: #080c16;
  --foreground: #ffffff;
  
}

@layer components {
  .button {
    @apply bg-[#0369A1] font-semibold rounded-sm px-4 py-2;
  }

  .container {
    @apply max-w-7xl px-3 mx-auto;
  }

  .text-primary{
    @apply text-[#4089b0];
  }

  .text-secondary{
    @apply text-gray-300;
  }

  
}

